* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #dbdad5;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 110px;
}

.logo {
    width: 100px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

/* Add hover effect to navigation links */
.navbar-container ul li:hover a {
    background-color: #555;
}

/* Style for the category selector */
#categorySelector {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    color: #000; /* Text color */
    text-decoration: none; /* Remove underline */
}

/* Hover effect for the category selector */
#categorySelector:hover {
    border-color: #999;
    background-color: #f0f0f0; /* Hover background color */
}

a {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

a:hover {
    background-color: #555;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: calc(400vh - 100px); /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.card {
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
    width: 300px;
    height: 500px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px #dbdad5, 0 0 20px #dbdad5, 0 0 30px #dbdad5, 0 0 40px #dbdad5, 0 0 50px #dbdad5, 0 0 60px #dbdad5, 0 0 70px #dbdad5;
        background-color: #dbdad5; /* Adjust the glow color and intensity */
    }
    100% {
        box-shadow: none;
        background-color: #fff;
    }
}

.card-image {
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}

.card h2,
.card p {
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #555;
}

.card-imagebedroom-1 {
    background-image: url(bedroom1.png);
}
.card-imagebedroom-2 {
    background-image: url(bedroom2.png);
}

.card-imagebedroom-3 {
    background-image: url(bedroom3.png);
}

.card-imagebedroom-4 {
    background-image: url(bedroom4.png);
}

.card-imagebedroom-5 {
    background-image: url(bedroom5.png);
}

.card-imagebedroom-6 {
    background-image: url(bedroom6.png);
}

.card-imagebedroom-7 {
    background-image: url(bedroom7.png);
}

.card-imagebedroom-8 {
    background-image: url(bedroom8.png);
}

/* Styles for the second container */
.card-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #cccac2; /* Changed background color */
    padding: 15px;
    box-sizing: border-box;
    margin-top: 100px; /* Adjusted margin */
    border-radius: 20px;
    transition: transform 0.3s ease; /* Adding transition for smooth hover effect */
}

.card-container:hover {
    transform: translateY(-5px); /* Move the container up on hover */
}

.card-container a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-container a:hover {
    background-color: #555;
}

.info {
    width: 25%; /* Adjusted the width of the info section */
}

.image {
    width: 75%; /* Adjusted the width of the image section */
    text-align: center; /* Centered the image */
}

.image img {
    max-width: 95%;
    max-height: 100%; /* Ensured the image doesn't exceed the container's dimensions */
}

/* Styles for the third container */
.card-container1 {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    background-color: #cccac2; /* Changed background color */
    padding: 15px;
    box-sizing: border-box;
    margin-top: 100px; /* Adjusted margin */
    border-radius: 20px;
    transition: transform 0.3s ease; /* Adding transition for smooth hover effect */
}

.card-container1:hover {
    transform: translateY(-5px); /* Move the container up on hover */
}

.card-container1 a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-container1 a:hover {
    background-color: #555;
    
}

.info1 {
    width: 25%; /* Adjusted the width of the info section */
}

.image1 {
    width: 75%; /* Adjusted the width of the image section */
    text-align: center; /* Centered the image */
}

.image1 img {
    max-width: 75%;
    max-height: 550%; /* Ensured the image doesn't exceed the container's dimensions */
}
/* Footer styles */

footer {
    background-color: #aba9a1.;
    padding: 40px 0;
}

.footer-container {
    max-width: 1200px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin-right: 30px;
}

.footer-column h3 {
    color: #333;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #666;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #000;
}
